@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2') format('woff2');
}